#pagename { /*gives the title a box and a blue color*/
    background-color: #5C5C8A;
    color:white;
    font-size: 30px;
    padding:10px;
}

h1 {/*  gives all h1 tags a blue color  */
    color:#5C5C8A;
}


#bigpagename {/*   gives the main title white */
    color:white;
}

body {/*  gives the body; white background, font-color black, font helvetica, and 20px size as well as center  */
	background-color: white;
	color: black;
    font-family:Helvetica;
    font-size:20px;
    text-align:center;  
}




#comparebox {/* makes the table a box and font middle   */
    border:3px solid black;
    margin:10px;
    padding:10px;
	text-align:center;
    

}

.list {/*  gives all lists with class list a box  */
    border: 2px solid black;
    margin: 10px;
    padding: 50px;
    text-align:left;
}

#leftpic {/*  floats the left pic left  */
    text-align:left;
    width:300px;
}

#centerpic {/* makes the center center   */
    text-align:center;
    width:300px;
}

#rightpic {/*   floats right pic right */
    text-align:right;
    width:300px;
}


#contents {/* gives a box to the table of contents   */
    border: 5px solid black;
    padding: 30px;
    margin: 10px;
}

#diagram {/*  floats the hdd diagram right  */
    width:400px;
    float:right;
}


#winner {/* gives the winner of a category in the table a light-green    */
    background-color:lightgreen;
}
